@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



@* 
    Komponent Blazor odpowiedzialny za wyświetlanie listy quizów.
    QuizBlazor/Components/ListaQuizow.razor
*@
<ListaQuizow />


